.section {
  @apply my-[7%] z-10;
}
.row {
  @apply flex gap-[30px] items-center justify-start;
}
.category {
  @apply flex flex-col;
}
.image {
  @apply max-w-[390px];
}
.image img {
  @apply w-full h-full object-cover;
}
.title {
  @apply flex items-center justify-center  text-[#424551] text-[20px] font-bold leading-[150%]
  max-xl:text-[18px]
 max-[1100px]:text-[16px] 
 max-lg:text-[14px] 
 max-[940px]:text-[12px]
 max-[820px]:text-[10px]
 max-md:text-[9px] 
 max-sm:text-[8px]
 max-[540px]:text-[8px];
}
