.section {
  @apply bg-[#17696A]  py-[9px];
}
.row {
  @apply flex items-center justify-center;
}
.baner_text {
  @apply flex w-[284px] justify-center items-center gap-[7px]
  max-[320px]:w-[270px] max-[320px]:gap-0;
}
.inner_text {
  @apply flex justify-center items-center gap-1;
}
.left_text {
  @apply text-white text-[12px] font-black  leading-[150%]
  max-sm:text-[10px]
  max-[320px]:text-[9px];
}
.right_text {
  @apply text-white text-[12px] font-normal  underline leading-[150%] cursor-pointer opacity-[0.6] 
  hover:opacity-[1] transition ease-out duration-500
  max-sm:text-[10px]
  max-[320px]:text-[8px];
}
