.categories {
  @apply flex items-center gap-10
    max-xl:gap-5
    max-lg:gap-3
    max-[820px]:hidden;
}
.link {
  @apply text-gray-700 text-base font-bold  leading-relaxed  
  hover:text-[#17696A] transition ease-out duration-500 cursor-pointer;
}
.link_active {
  @apply text-[#17696A];
}
.close {
  @apply hidden;
}
.dropdown_menu {
  @apply z-50 absolute inset-0 pt-[120px];
}
