.section {
  @apply relative pb-[20%];
}

.img_wrapper {
  @apply absolute left-0 top-0 w-full h-full overflow-hidden   -z-10;
}
.img_wrapper img {
  @apply w-full h-full object-cover object-top;
}

.content {
  @apply flex flex-col max-w-[450px] items-start gap-[20px] py-[5%]
  max-xl:max-w-[400px]
  max-[1100px]:max-w-[300px]
  max-lg:max-w-[300px]
  max-[940px]:max-w-[250px] 
  max-[820px]:max-w-[225px]  
  max-md:max-w-[200px] max-md:gap-[10px] 
  max-sm:max-w-[125px] max-sm:gap-[5px] max-sm:pt-[3%]
  max-[520px]:max-w-[125px]
  max-[400px]:max-w-[125px];
}

.title {
  @apply text-zinc-800 text-[18px] font-bold  uppercase leading-[150%] tracking-wide
 max-xl:text-[16px]
 max-[1100px]:text-[14px] 
 max-lg:text-[13px] 
 max-[940px]:text-[12px]
 max-[820px]:text-[11px]
 max-md:text-[10px] 
 max-sm:text-[9px]
 max-[540px]:text-[8px];
}
.subtitle {
  @apply text-[#1E212C] text-[72px] font-black   leading-[130%] tracking-wide
  max-xl:text-[55px]
  max-[1100px]:text-[50px] 
  max-lg:text-[45px]
  max-[940px]:text-[40px]
  max-[820px]:text-[35px] 
  max-md:text-[30px] 
  max-sm:text-[25px]
  max-[540px]:text-[20px];
}
