.section {
  @apply w-full  py-[3%];
}
.container {
  @apply relative flex flex-col max-w-[1260px] w-full  m-auto px-[25px]  my-[3%] 
  max-[1350px]:max-w-[1100px]
  max-xl:max-w-[1024px]
  max-[1100px]:max-w-[900px]
  max-lg:max-w-[900px]
  max-[940px]:w-[800px]
  max-[820px]:max-w-[700px]
  max-md:max-w-[600px]
  max-sm:max-w-[500px]
  max-[520px]:max-w-[400px]
  max-[400px]:max-w-[350px]
  max-[350px]:max-w-[320px] max-[350px]:px-[10px];
}
.title {
  @apply text-[46px] font-black leading-[130%] mb-[1.5%]
    max-xl:text-[44px]
    max-[1100px]:text-[40px] 
    max-lg:text-[36px]
    max-[940px]:text-[32px]
    max-[820px]:text-[28px] 
    max-md:text-[24px] 
    max-sm:text-[20px]
    max-[540px]:text-[16px];
}

.previous {
  @apply left-[94.5%] top-0 w-5 h-5;
}
.next {
  @apply right-0 top-0 w-5 h-5;
}
