.section {
  @apply flex flex-col py-[3%] my-[3%];
}
.title {
  @apply flex flex-col;
}
.title h2 {
  @apply text-center text-[46px] font-black leading-[130%]
  max-xl:text-[44px]
  max-[1100px]:text-[40px] 
  max-lg:text-[36px]
  max-[940px]:text-[32px]
  max-[820px]:text-[28px] 
  max-md:text-[24px] 
  max-sm:text-[20px]
  max-[540px]:text-[16px];
}
.title h3 {
  @apply flex flex-col text-center text-[18px] leading-[150%] text-[#787A80]
  max-xl:text-[17px]
  max-[1100px]:text-[16px] 
  max-lg:text-[15px] 
  max-[940px]:text-[14px]
  max-[820px]:text-[13px]
  max-md:text-[12px] 
  max-sm:text-[10px]
  max-[540px]:text-[9px];
}
.title a {
  @apply underline text-[#17696A] hover:text-green-900;
}
.slider {
  @apply relative py-[3%] px-[1%];
}

.dots {
  @apply absolute bottom-[-15%] left-0 right-0 flex justify-center items-center gap-[1.5%];
}
.dot {
  @apply w-[30px]   h-[3px] bg-slate-200 rounded-[1px] cursor-pointer my-[3%]
  max-xl:w-[29px] max-xl:h-[3px]
  max-lg:w-[27px] max-lg:h-[3px]
  max-md:w-[25px] max-md:h-[3px]
  max-sm:w-[20px] max-sm:h-[3px];
}
.dot_active {
  @apply bg-[#17696A];
}
